# Arquivos de Build
/build
/app/build

# Arquivos gerados pelo IDE (Android Studio)
.idea/
*.iml
.gradle/
release/
local.properties

# Arquivos de sistema
.DS_Store
Thumbs.db

# Keystore file and properties
momentus_keystore
keystore.properties
google-services.json