# Arquivos de Build
/build
/app/build
/app/release
release
*release
schemas

# Arquivos gerados pelo IDE (Android Studio)
.idea/
*.iml
.gradle/
local.properties

# Arquivos de sistema
.DS_Store
Thumbs.db

# Keystore file and properties
momentus_keystore
keystore.properties
google-services.json
gradlew
gradlew.bat
proguard-rules.pro
#libs.versions.toml
